* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  background: #ffffff;
  background-image: url("../images/illustration1.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  display: flex;
}

.container {
  box-sizing: border-box;
  margin-top: 310px;
  margin-left: 14%;
}

.giant {
  font-size: 500%;
}

.medium {
  font-size: 230%;
}

.resume {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  padding-right: 30px;
}

img {
  position: absolute;
}

/* FOOTER */

.footer {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  float: left;
  display: block;
  padding: 20px 0px;
  font-size: 23px;
}

.linkedin {
  width: 34%;
}

.email {
  width: 38%;
}

.github {
  width: 28%;
}

/* POPUP */

.button {
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 1.5rem;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  padding: 1rem 2rem;
  width: 147.5px;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hiden;
  transition: 0.64s ease-in-out;
}

.popup-inner {
  position: relative;
  bottom: -100vw;
  right: -100vh;
  display: flex;
  align-items: center;
  max-width: 800px;
  max-height: 600px;
  width: 60%;
  height: 80%;
  background-color: rgb(255, 255, 255);
  -webkit-transform: rotate(32deg);
  transform: rotate(32deg);
  transition: 0.64s ease-in-out;
}

.popup__photo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 40%;
  height: 100%;
  overflow: hidden;
}

.popup__photo img {
  width: auto;
  height: 100%;
}

.popup__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
  padding: 4rem;
}

.popup__text h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #000000;
}

.popup__text p {
  font-size: 1rem;
  color: #686868;
  line-height: 1.5;
}

.popup:target {
  visibility: visible;
  opacity: 1;
}

.popup:target .popup-inner {
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.popup__close {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;
  font-size: 0.875rem;
  border-radius: 100%;
  background-color: #000000;
  color: rgb(255, 255, 255);
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

/* Typewriter*/

.typewriter h2 {
  font-family: monospace;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3s steps(30, end), blink-caret 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(0, 0, 0, 0.404);
  }
}
